$color-white: #ffff;
$color-black: #0000;
$color-sunset-flame: #fc5434;
$color-golden-popcorn: #fcc480;
$color-velvet-curtain: #680f38;
$color-blue-projector: #5884a3;
$color-silver-screen: #acb9d4;
$color-silver-screen-light: rgba($color-silver-screen, 0.3);
$color-midnight-hall: #2c3e50;
$color-success: #22c55e;
$color-error: #ef4444;
